amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.33
celery==3.0.23
distribute==0.7.3
django-celery==3.0.23
Django==1.5.4
kombu==2.5.15
MySQL-python==1.2.4
pip-tools==0.3.4
python-dateutil==2.1
pytz==2013.7
redis==2.8.0
six==1.4.1
South==0.8.2
